@model List<VehicleRegister.ViewModel.RegisteredVehicleListView>
@{
    ViewData["Title"] = "Index";
}

<h3 class="floatLeft titleMargin">Registered Vehicle List</h3>
<a class="floatRight" href='@Url.Action("CreateRegisteredVehicle", "RegisteredVehicle")'>
    <input class="waves-effect waves-light btn-large blue" type="button" value="Create" />
</a>
<table>
    <thead class="boldTitle">
        <tr>
            <td>No.</td>
            <td>Owner</td>
            <td>Manufacturer</td>
            <td>Year</td>
            <td>Weight</td>
            <td>Category</td>
            <td>Category Icon</td>
            <td>Fucntions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.IndexNumber</td>
            <td>@item.OwnerName</td>
            <td>@item.Manufacturer</td>
            <td>@item.Year</td>
            <td>@item.Weight kg</td>
            <td>@item.Category</td>
            <td><img src="@item.IconPath" /></td>
            <td>
                @Html.ActionLink("Update", "UpdateRegisteredVehicle", "RegisteredVehicle", new { id = item.Id }, new { @class = "waves-effect waves-light btn-small" })
                @Html.ActionLink("Delete", "DeleteRegisteredVehicle", "RegisteredVehicle", new { id = item.Id }, new { @class = "waves-effect waves-light btn-small red" })
            </td>
        </tr>
        }
    </tbody>
</table>