@model VehicleRegister.ViewModel.RegisteredVehicleView
@{
    ViewData["Title"] = "UpdateRegistedVehicle";
}

<h3 class="titleMargin">Update Registed Vehicle</h3>

@using (Html.BeginForm("UpdateRegisteredVehicle", "RegisteredVehicle", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row form-group">
        @Html.LabelFor(m => m.OwnerName)
        @Html.TextBoxFor(m => m.OwnerName)
        @Html.ValidationMessageFor(m => m.OwnerName, "", new { @class = "text-danger" })
    </div>
    <div class="row form-group">
        @Html.LabelFor(m => m.Manufacturer)
        <div class="input-field col s12">
            <select class="browser-default" id="manufacturer" name="manufacturer">
                <option value="@Model.Manufacturer" disabled selected>@Model.Manufacturer</option>
                @foreach (var manufacturer in ViewBag.Manufacturer)
                {
                    <option value="@manufacturer.Name">@manufacturer.Name</option>

                }
            </select>
        </div>
        @Html.ValidationMessageFor(m => m.Manufacturer, "", new { @class = "text-danger" })
    </div>
    <div class="row form-group">
        @Html.LabelFor(m => m.Year)
        @Html.TextBoxFor(m => m.Year)
        @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
    </div>
    <div class="row form-group">
        @Html.LabelFor(m => m.Weight)
        @Html.TextBoxFor(m => m.Weight)
        @Html.ValidationMessageFor(m => m.Weight, "", new { @class = "text-danger" })
    </div>

    <input class="waves-effect waves-light btn-large blue submitButton" type="submit" value="Submit" />
}