@model List<VehicleRegister.ViewModel.ManufacturerListView>;
@{
    ViewData["Title"] = "Index";
}

<h3 class="floatLeft titleMargin">Manufacturer List</h3>
<a class="floatRight" href='@Url.Action("CreateManufacturer","Manufacturer")'>
    <input class="waves-effect waves-light btn-large blue" type="button" value="Create" />
</a>

<table>
    <thead class="boldTitle">
        <tr>
            <td>No.</td>
            <td>Manufacturer</td>
            <td>Functions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IndexNumber</td>
                <td>@item.Name</td>
                <td>
                    @Html.ActionLink("Update", "UpdateManufacturer", "Manufacturer", new { id = item.Id }, new { @class = "waves-effect waves-light btn-small" }) 
                    @Html.ActionLink("Delete", "DeleteManufacturer", "Manufacturer", new { id = item.Id }, new { @class = "waves-effect waves-light btn-small red" })
                </td>
            </tr>
        }
    </tbody>
</table>

