@model VehicleRegister.ViewModel.RegisteredVehicleView
@{
    ViewData["Title"] = "CreateRegistedVehical";
}

<h1>CreateRegistedVehical</h1>

@using (Html.BeginForm("Create", "RegistedVehicle", FormMethod.Post))
{
    @Html.LabelFor(m => m.OwnerName)
    @Html.TextBoxFor(m => m.OwnerName)
    @Html.LabelFor(m => m.Manufacturer)
    @Html.TextBoxFor(m => m.Manufacturer)
    @Html.LabelFor(m => m.Year)
    @Html.TextBoxFor(m => m.Year, "{ yyyy }")
    @Html.LabelFor(m => m.Weight)
    @Html.TextBoxFor(m => m.Weight)

    <input type="submit" value="Submit" />
}