@model VehicleRegister.ViewModel.CategoryView
@{
}

<h1>This is Create Category Page</h1>

@using (Html.BeginForm("Create", "Category", FormMethod.Post))
{
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
    @Html.LabelFor(m => m.StartRange)
    @Html.TextBoxFor(m => m.StartRange)
    @Html.LabelFor(m => m.FinishRange)
    @Html.TextBoxFor(m => m.FinishRange)
    @Html.LabelFor(m => m.IconPath)
    @Html.TextBoxFor(m => m.IconPath)

    <input type="submit" value="Submit" />
}