@model VehicleRegister.ViewModel.CategoryView
@{
    ViewData["Title"] = "UpdateCategory";
}

<h3 class="titleMargin">Update Category</h3>
@using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
{
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
    @Html.LabelFor(m => m.StartRange)
    @Html.TextBoxFor(m => m.StartRange)
    @Html.LabelFor(m => m.FinishRange)
    @Html.TextBoxFor(m => m.FinishRange)
    @Html.LabelFor(m => m.IconPath)
    @Html.TextBoxFor(m => m.IconPath)

    <input class="waves-effect waves-light btn-large blue submitButton" type="submit" value="Submit" />
}
